body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 31, 31);
    color: white;
}


img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    padding: 0;
    margin: 0;
}
.img{
    padding-top: 10px;
}


div{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

}

.incon{
    width: 80px;
    height: 60px;
    font-size: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 15px;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.15);
}

button{
    font-size: 12px;
}

.name{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2px;
}


.friends{
    margin: 0px;
    color: gray;
    margin-bottom: 5px;
}

button{
    background-color: rgb(45, 92, 184);
    border: none;
    color: white;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;

}