img{
    margin-left: 600px;
    margin-top: 200px;
    margin-right: 600px;
    width: 250px;
    display: block;
    display: flex;
}

input{
    width: 450px;
    margin-top: 10px;
    margin-left: 499px;
    border: none;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}